#Header{
    border: solid 8px black;
    width: 500px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #8E41D5;
    border-color: red;
}

#LeftNav{
    border: solid 8px black;
    width: 400px;
    float: left;
    text-align: center;
    background-color: #8E41D5;
    padding: 8px;
    border-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

#Content{
    border: solid 8px black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 15px;
    background-color: #8E41D5;
    padding: 15px;
    border-color: red;
    resize: horizontal;
    overflow: auto;
}


#Footer{
    border: solid 8px black;
    text-align: center;
    background-color: #8E41D5;
    border-color: red;
}

ul{
    list-style-type: none;
    padding-left: 0px; 
}

h1{
    font-size: 60px;
    font-weight: bold;
    font-family: "Passion One";
    color: #FFBC00;
    text-shadow: 0 0 3px #FF0000;
}

p{
    font-family: "Arial";
    color: white;
    font-weight: bold;
    text-shadow: 0 0 3px #FF0000;
    
     
}

h3{
    color: #FFBC00;
    font-size: 40px;
    font-weight: bold;
    font-family: "Passion One";
    text-shadow: 0 0 3px #FF0000;
}

body{
    background-color: black;
}

a{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#bow{
    color: #FFBC00;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 3px #FF0000;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  img{
    border-radius: 50%;
  }
